body
{
    background-color: #353535;
    color: white;
}

#menu
{
    background-color: black;
    color: #FFA500;
    border-color: red;
    border-left-color: red;
    border-top-color: red;
    border-bottom-color: red;
    border-right-color: red;
    border-collapse: collapse;
    text-align: center;
    font-size: 26;
}

table td
{
    border-color: red;
    border-width: 3;
}

table tr
{
    border-color: red;
}

table a
{
    color: #FFA500;
    text-decoration: none;  
}

#p
{
    text-align: center;
}
a
{
    color: white;
    text-decoration: none;
}

h1
{
    color: 	red;
}

#description
{
    color: orange;
}

#top
{
    color: 	red;
}